:root{
    --primary-color:#0A1A2F;
    --dark-bg:#121212;
    --gray-bg:#E8ECF2;
    --darker-bg:#0a0a0a;
    --light-text:#f5f5f5;
    --gray-text:#aaaaaa;
    --dark-text:#262525;
    --test-text:#3A7DFF;
    --card-bg:#1e1e1e;
    --border-color:#2d2d2d;
    --transition: all .3s ease;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

html{
    scroll-behavior: smooth;
}

}
body{
    font-family:Arial;
    background-color:var(--gray-bg);
    color: var(--test-text);
    margin: 0;
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(10,10, 10,0,9);
    backdrop-filter: blur(10px);
    z-index: 100;
    border-bottom: 1px solid var(--border-color);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo span{
    color: var(--primary-color);
}

.nav-links{
    display:flex;
    gap:2rem;
    color:var(--primary-color);
}

.nav-links a{
    position:relative;
    padding: .5rem 0;
    transition: var(--transition);
}

.nav-links a:after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--test-text);
    transition: var(--transition);
}
.nav-links a:hover{
    color:var(--test-text);
}

.nav-links a:hover:after{
    width:100%
}

section{
    padding: 6rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.section-title{
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    position: relative;
    padding-bottom: 1rem;
}

.section-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: var(--primary-color) ;
}

.btn{
    display: inline-block;
    background-color: var(--test-text);
    color: var(--primary-color);
    padding: .8rem 1.5rem;
    border-radius: 5px;
    font-weight: 600;
    transition: var(--transition);
    border: none;
}  

.btn:hover{
    background-color: var(--test-text);
    transform: translateY(-3px);
    box-shadow: 0 5px 15px var(--test-text); 
}

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 5rem;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.hero-text {
    flex:1;   
}

.hero-text h1{
    font-size: 3rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.hero-text h2{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.hero-text p{
    margin-bottom: 1.5rem;
    color: var(--dark-bg);
    font-size: 1.1rem;
    max-width: 600px;
}

.social-links {
    display:flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--card-bg);
    color: var(--light-text);
    transition: var(--transition);
    font-size: 1.2rem;
}

.social-links a:hover {
    background-color: var(--test-text);
    transform: translateY(-3px);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-image img{
    width: 350px;
    height:350px;
    object-fit: cover;
    border-radius: 55%;
    border: 5px solid var(--primary-color);
    box-shadow: 0 0 25px rgb(0, 73, 168);
    transition: var(--transition);
}

.hero-image img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px rgba(3, 54, 121, 0.719);
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    gap: 2rem;
}

.project-card {
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
    transition: var(--transition);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 30px rgba(3, 54, 121, 0.719);
}

.project-img {
    overflow: hidden;
}


.project-img img{
    transition: var(--transition);
    width:100%;
}

.project-card:hover.project-img img{
    transform: scale(1.05);
}

.project-info{
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project-info h3{
    margin-bottom: .8rem;
    font-size: 1.3rem;
}

.project-info p{
    color: var(--gray-bg);
    margin-bottom: 1rem;
    font-size: .95rem;
    flex-grow: 1;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 1rem;
}

.project-tech span{
    font-size: .8rem;
    padding: .2rem .6rem;
    background-color: var(--darker-bg);
    border-radius: 20px;
}

.project-links {
    display: flex;
    gap: 1rem;
}

.project-links a{
    font-size: .9rem;
    color: var(--gray-bg);
    transition: var(--transition);
}

.project-links a:hover{
    color: var(--test-text);
}

form{
    padding: 50px 55px;
    background-color: #0A1A2F;
    box-shadow: 0 0 20px rgba(2, 2, 2, 0.986);
    border-radius: 20px;
    text-align: center;
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color:var(--test-text);
    font-size: 35px;
}

label {
    color: var(--test-text);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius:25px;
    margin-bottom: 20px;
    background-color:var(--light-text);
    border: 2px solid #F0FAF1;
    color: var(--test-text);
    outline: none;
}

input::placeholder, textarea::placeholder{
    font-family:Arial, Helvetica, sans-serif;
    color:var(--dark-bg);
}

.form-txt{
    margin-bottom: 30px;
    font-family:"Arial";
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a{
    color:var(--test-text);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.form-txt a:hover{
    transform: translateY(-3px);

}
.btn1{
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: var(--primary-color);
    box-shadow: 0 0 20px rgba(0, 110, 254, 0.4);
    cursor: pointer;
}

.btn1:hover {
    background-color:#416ab6;
}
footer {
    background-color: var(--darker-bg);
    border-top: 1px solid var(--border-color);
    padding: 2rem 5%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
@media (max-width:991px) {
    header{
        position: static;
    }
    #navbar {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }   

    .hero-content, .nav-links{
        flex-direction: column;
    }

    form{
        padding: 50px 30px;
        width: 100%;
    }

    .input{
        padding: 15px;
    }
}